@import url(c:\p6-front-react\src\Component-styles-SCSS\normalize.css);
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8vh;
}

.container .inContainer {
  position: relative;
  min-width: 290px;
  width: 55%;
  border-radius: 15px;
  max-width: 700px;
  background-color: #4b4b4b;
  border: 5px solid #4b4b4b;
  padding: 45px 3vw 3vw 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .inContainer .logInMessage {
  background-color: #f44336cc;
  text-align: center;
  font-size: 14px;
  border-radius: 15px;
  margin: 20px 10vw -20px 10vw;
  font-weight: 500;
  letter-spacing: 1px;
}

.container .inContainer .inputBox {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.container .inContainer .inputBox .icon {
  background-color: white;
  height: 40px;
  padding: 8px 12px 0 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.container .inContainer .inputBox input {
  min-width: 100%;
  height: 40px;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 10px;
}

.container .inContainer .inputBox input:focus-visible + .icon {
  outline: none;
  background-color: #f44336;
  -webkit-box-shadow: 2px 2px 2px #683ab7;
          box-shadow: 2px 2px 2px #683ab7;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

.container .inContainer .inputBox input:focus-visible {
  outline: none;
  background-color: #f44336;
  -webkit-box-shadow: 2px 2px 2px #683ab7;
          box-shadow: 2px 2px 2px #683ab7;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

.container .inContainer .primaryButton {
  padding: 3px 5px;
  border-radius: 6px;
  border: none;
  min-width: 112px;
  background-color: #f44336;
  color: white;
  font-size: larger;
  font-weight: 500;
  letter-spacing: 1px;
  height: 44px;
  -webkit-transition: -webkit-box-shadow 750ms ease-out;
  transition: -webkit-box-shadow 750ms ease-out;
  transition: box-shadow 750ms ease-out;
  transition: box-shadow 750ms ease-out, -webkit-box-shadow 750ms ease-out;
}

.container .inContainer .primaryButton:hover {
  -webkit-box-shadow: 2px 2px 2px #683ab7;
          box-shadow: 2px 2px 2px #683ab7;
}

.container .inContainer .primaryButton:focus {
  outline: none;
  -webkit-box-shadow: 3px 3px 3px #683ab7;
          box-shadow: 3px 3px 3px #683ab7;
  color: #683ab7;
}

.container .inContainer .extraButton {
  padding-top: 25px;
  color: white;
  text-align: end;
  font-size: larger;
}

.container .inContainer .extraButton .extraButtonText {
  font-size: 22px;
  padding-left: 5px;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 1px;
}

@media all and (min-width: 361px) and (max-width: 768px) {
  .container .inContainer {
    width: 75%;
  }
  .container .inContainer .inputBox input {
    min-width: 90%;
    height: 40px;
  }
  .container .inContainer .inputBox input:focus-visible + .icon {
    font-size: 16px;
    letter-spacing: normal;
  }
  .container .inContainer .inputBox input:focus-visible {
    font-size: 16px;
    letter-spacing: normal;
  }
}

@media all and (max-width: 360px) {
  .container .inContainer .inputBox input {
    min-width: 200px;
  }
  .container .inContainer .inputBox input:focus-visible + .icon {
    font-size: 14px;
    letter-spacing: normal;
  }
  .container .inContainer .inputBox input:focus-visible {
    font-size: 14px;
    letter-spacing: normal;
  }
  .container .inContainer .primaryButton {
    font-size: medium;
    margin-left: 10px;
  }
  .container .inContainer .extraButton {
    font-size: 14px;
  }
  .container .inContainer .extraButton .extraButtonText {
    font-size: 22px;
    padding-left: 5px;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .container .inContainer .extraButton .extraButtonText span {
    display: none;
  }
}
/*# sourceMappingURL=signUp.css.map */