.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;


.inContainer {
    position: inherit;
    min-width: 290px;
    width: 55%;
    border-radius: 15px;
    max-width: 700px;
    background-color: #4b4b4b;
    border: 5px solid #4b4b4b;
    padding: 45px 3vw 0 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logInMessage {
        background-color: #f44336cc;
        text-align: center;
        font-size: 14px;
        border-radius: 15px;
        margin: 20px 10vw -20px 10vw;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .inputBox {
        height: 30px;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        .icon {
            background-color: white;
            padding: 3px 12px 0 10px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;

        }

        input {
            min-width: 230px;
            border: none;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            padding-left: 10px;

            &:focus-visible+.icon {
                outline: none;
                background-color: #f4433660;
                box-shadow: 2px 2px 2px #683ab779;
            }

            &:focus-visible {
                outline: none;
                background-color: #f4433660;
                box-shadow: 2px 2px 2px #683ab779;

            }
        }

    }


    .extraButton{
        padding-top: 25px;
        color: white;
        text-align: end;
    }
        
        .signUpButton {
            padding: 3px 10px;
            border-radius: 6px;
            border: none;
            box-shadow: 3px 3px 3px #bbbbbb;
            min-width: 112px;
            background-color: #f44336;
            padding: 4px;
            color: white;
            font-size: larger;
            font-weight: 500;
    letter-spacing: 1px;
        }
}
}

@media all and (min-width: 768px){
    .inContainer {
        .inputBox {
            input {
                min-width: 300px;
                height: 40px;
            }
            .icon{
                height: 40px;
                padding-top: 8px;
            }

        }
       
    }

}