.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.innerContainer {
    min-width: 290px;
    width: 55%;
    border-radius: 15px;
    max-width: 700px;
    background-color: #f443368f;
    padding-top: 3vh;
    display: flex;
    justify-content: center;

    .inputBox {
        height: 30px;
        display: flex;
        justify-content: center;
        margin: 20px 0;
        

        .icon {
            background-color: white;
            padding: 3px 12px 0 0;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;

        }

        input {
            min-width: 230px;
            border: none;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            padding-left: 10px;
            &:focus-visible{
                outline: none;
            }
        }

    }


    .logInSignUpButtons {
        display: flex;
        min-width: 190px;
        justify-content: space-evenly;
        padding: 0 10px 20px 10px;

        .sauceButton {
            padding: 3px 10px;
            margin: 5px;
            border-radius: 6px;
            border: none;
            box-shadow: 3px 3px 3px #bbbbbb;
        }

        .signInButton {
            min-width: 85px;
            background-color: #673ab7;
        }

        .signUpButton {
            min-width: 85px;
            background-color: #f44336;
        }
    }
}