@import url(c:\p6-front-react\src\Component-styles-SCSS\normalize.css);
.allSaucesBody {
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.allSaucesBody .saucesListHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 0 3vw;
  min-width: 100%;
}

.allSaucesBody .sauceBox {
  max-width: 26.5vw;
  margin: 10px 8px;
  padding-top: 10px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 2px #f44336;
          box-shadow: 1px 1px 2px #f44336;
}

.allSaucesBody .sauceBox .link {
  text-decoration: none;
}

.allSaucesBody .sauceBox:hover {
  -webkit-box-shadow: 2px 2px 5px #683ab7;
          box-shadow: 2px 2px 5px #683ab7;
}

.allSaucesBody .sauceBox .sauceBoxImage {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 8px;
}

.allSaucesBody .sauceBox .sauceBoxImage img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 16vw;
  width: 16vw;
}

.allSaucesBody .sauceBox .sauceName {
  text-align: center;
}

.allSaucesBody .sauceBox .sauceName h2 {
  font-size: 18px;
  color: #683ab7;
}

.allSaucesBody .sauceBox .sauceName p {
  font-size: 15px;
  color: #683ab7;
}

@media all and (min-width: 361px) and (max-width: 768px) {
  .allSaucesBody {
    padding: 0;
  }
  .allSaucesBody .sauceBox {
    width: 46%;
    min-width: 165px;
    max-width: 220px;
    margin: 3px;
    padding: 0;
    background-color: white;
  }
  .allSaucesBody .sauceBox .sauceBoxImage img {
    height: 150px;
    width: 60vw;
    max-width: 149px;
  }
  .allSaucesBody .sauceBox .sauceName h2 {
    font-size: 16px;
  }
  .allSaucesBody .sauceBox .sauceName p {
    margin-top: -10px;
    margin-bottom: 0;
    font-size: 14px;
  }
}

@media all and (max-width: 360px) {
  .allSaucesBody {
    padding: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .allSaucesBody .saucesListHeader {
    display: none;
  }
  .allSaucesBody .sauceBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 100%;
    height: 150px;
    margin: 3px;
    padding: 5px;
  }
  .allSaucesBody .sauceBox .sauceBoxImage {
    display: inline-block !important;
    vertical-align: top;
    height: 90%;
    width: 44%;
  }
  .allSaucesBody .sauceBox .sauceBoxImage img {
    height: 125px;
    width: 100%;
  }
  .allSaucesBody .sauceBox .sauceName {
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 38px;
    vertical-align: middle;
    height: 100%;
    text-align: left;
  }
  .allSaucesBody .sauceBox .sauceName h2 {
    font-size: 16px;
  }
  .allSaucesBody .sauceBox .sauceName p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=homepage.css.map */