@import url(c:\p6-front-react\src\Component-styles-SCSS\normalize.css);
.sauceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3vw 6vw;
}

.sauceContainer .sauceImage {
  padding-right: 10px;
  max-width: 500px;
}

.sauceContainer .sauceImage img {
  max-width: 100%;
  max-height: 360px;
}

.sauceContainer .sauceInfo {
  max-width: 50vw;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #683ab720), color-stop(80%, #f4433610));
  background: linear-gradient(90deg, #683ab720 20%, #f4433610 80%);
  padding: 10px;
}

.sauceContainer .sauceInfo .label {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: -3px;
}

.sauceContainer .sauceInfo .sauceInfoField {
  border-bottom: 1px solid #683ab728;
}

.sauceContainer .sauceInfo .likeButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sauceContainer .sauceInfo .likeButtons .thumbs {
  padding: 0.5em 1em;
  background-color: #ffffff;
  border: none;
}

.sauceContainer .sauceInfo .likeButtons .thumbs:focus {
  outline: none;
  color: #673ab7;
}

.sauceContainer .sauceInfo .likeButtons .thumbs:focus-visible {
  outline: none;
}

.sauceContainer .sauceInfo .likeButtons .thumbs i {
  padding: 0 8px 5px 0;
}

.sauceContainer .sauceInfo .likeButtons .thumbs i:hover {
  font-size: 1.1em;
  padding: 7px 4px 0;
}

.sauceContainer .sauceInfo .controlButtons .sauceButton {
  padding: 3px 10px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

.sauceContainer .sauceInfo .controlButtons .sauceButton:hover {
  -webkit-box-shadow: 3px 3px 3px #bbbbbb;
          box-shadow: 3px 3px 3px #bbbbbb;
}

.sauceContainer .sauceInfo .controlButtons .sauceButton:focus-visible {
  outline: none;
}

.sauceContainer .sauceInfo .controlButtons .sauceButton:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sauceContainer .sauceInfo .controlButtons .modifyDeleteButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 190px;
}

.sauceContainer .sauceInfo .controlButtons .modifyDeleteButtons .modifyButton {
  min-width: 85px;
  background-color: #673ab7;
}

.sauceContainer .sauceInfo .controlButtons .modifyDeleteButtons .modifyButton:focus-visible {
  outline: none;
}

.sauceContainer .sauceInfo .controlButtons .modifyDeleteButtons .modifyButton:focus {
  outline: none;
  margin-bottom: -3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sauceContainer .sauceInfo .controlButtons .modifyDeleteButtons .deleteButton {
  min-width: 85px;
  background-color: #f44336;
  margin-top: 13px;
  max-height: 30px;
}

.sauceContainer .sauceInfo .controlButtons .modifyDeleteButtons .deleteButton:focus-visible {
  outline: none;
}

.sauceContainer .sauceInfo .controlButtons .modifyDeleteButtons .deleteButton:focus {
  outline: none;
  margin-bottom: -3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media all and (max-width: 768px) {
  .sauceContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sauceContainer .sauceImage {
    padding-right: 0;
    width: 50vw;
    min-width: 320px;
  }
  .sauceContainer .sauceImage img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    max-height: 240px;
    border-radius: 15px 15px 0 0;
  }
  .sauceContainer .sauceInfo {
    margin-top: 10px;
    max-width: 500px;
    width: 50vw;
    min-width: 320px;
    text-align: center;
    border-radius: 0 0 15px 15px;
  }
  .sauceContainer .sauceInfo .sauce-name {
    padding-top: 10px;
    font-size: 26px;
  }
  .sauceContainer .sauceInfo .manufacturer {
    font-size: 20px;
  }
  .sauceContainer .sauceInfo .likeButtons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sauceContainer .sauceInfo .controlButtons .modifyDeleteButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-width: auto;
  }
}

@media all and (max-width: 360px) {
  .sauceContainer .sauceImage {
    width: 85vw;
    min-width: auto;
  }
  .sauceContainer .sauceInfo {
    width: 85vw;
    min-width: auto;
  }
}
/*# sourceMappingURL=saucePage.css.map */