.sauceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3vw 6vw;
}

.sauceContainer .sauceImage {
  padding-right: 2vw;
  max-width: 500px;
}

.sauceContainer .sauceImage img {
  max-width: 100%;
  max-height: 360px;
}

.sauceContainer .sauceInfo .likeButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sauceContainer .sauceInfo .likeButtons .thumbs {
  padding: 0.5em 1em;
  background-color: #ffffff;
  border: none;
}

.sauceContainer .sauceInfo .likeButtons .thumbs:focus {
  outline: none;
  color: #673ab7;
}

.sauceContainer .sauceInfo .likeButtons .thumbs:focus-visible {
  outline: none;
}

.sauceContainer .sauceInfo .likeButtons .thumbs i {
  padding: 0 8px 5px 0;
}

.sauceContainer .sauceInfo .likeButtons .thumbs i:hover {
  font-size: 1.1em;
  padding: 7px 4px 0;
}

.sauceContainer .sauceInfo .controlButtons .sauceButton {
  padding: 3px 10px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

.sauceContainer .sauceInfo .controlButtons .sauceButton:hover {
  -webkit-box-shadow: 3px 3px 3px #bbbbbb;
          box-shadow: 3px 3px 3px #bbbbbb;
}

.sauceContainer .sauceInfo .controlButtons .sauceButton:focus-visible {
  outline: none;
}

.sauceContainer .sauceInfo .controlButtons .sauceButton:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sauceContainer .sauceInfo .controlButtons .modifyDeleteButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 190px;
}

.sauceContainer .sauceInfo .controlButtons .modifyDeleteButtons .modifyButton {
  min-width: 85px;
  background-color: #673ab7;
}

.sauceContainer .sauceInfo .controlButtons .modifyDeleteButtons .modifyButton:focus-visible {
  outline: none;
}

.sauceContainer .sauceInfo .controlButtons .modifyDeleteButtons .modifyButton:focus {
  outline: none;
  margin-bottom: -3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sauceContainer .sauceInfo .controlButtons .modifyDeleteButtons .deleteButton {
  min-width: 85px;
  background-color: #f44336;
  margin-top: 13px;
  max-height: 30px;
}

.sauceContainer .sauceInfo .controlButtons .modifyDeleteButtons .deleteButton:focus-visible {
  outline: none;
}

.sauceContainer .sauceInfo .controlButtons .modifyDeleteButtons .deleteButton:focus {
  outline: none;
  margin-bottom: -3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media all and (max-width: 768px) {
  .sauceContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sauceContainer .sauceImage img {
    max-height: 240px;
  }
  .sauceInfo {
    text-align: center;
  }
  .sauceInfo .sauce-name {
    padding-top: 10px;
    font-size: 26px;
  }
  .sauceInfo .manufacturer {
    font-size: 20px;
  }
  .sauceInfo .likeButtons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sauceInfo .controlButtons .modifyDeleteButtons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=saucePage.css.map */