@mixin primaryButton($mainColor, $minorColor ){
    
    padding: 3px 5px;
    border-radius: 6px;
    border: none;
    // box-shadow: 1px 1px 1px $minorColor;
    min-width: 112px;
    background-color: $mainColor;
    color: white;
    font-size: larger;
    font-weight: 500;
    letter-spacing: 1px;
    height: 44px;
    transition: box-shadow 750ms ease-out;

    &:hover {
        box-shadow: 2px 2px 2px $minorColor;
    }

    &:focus {
        outline: none;
        box-shadow: 3px 3px 3px $minorColor;
        color: $minorColor;
    }
}
