@import "../../Component-styles-SCSS/colors.SCSS";
@import "../../Component-styles-SCSS/MixIn-primaryButton.scss";

.logInLogOutButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;

    .logout {
        padding: 2vw 5vw 0 0;
        text-align: right;

        button {
            background: linear-gradient(45deg, #f4433660 50%, #683ab791 100%);
            color: white;
            font-size: large;
            font-weight: 400;
            padding: 5px;
            border: 1px solid #ececec;
            position: absolute;
            text-align: end;
            height: 75px;
            width: 75px;
            right: 5px;
            top: 5px;
            border-radius: 10% 10% 10% 90% / 10% 10% 10% 90%;

            &:hover {
                box-shadow: 3px 3px 2px #cecece;
                text-shadow: 1px 1px 1px #cecece;

            }
        }
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 0 5% 15px 5%;
    width: 100vw;

    .logo {
        img {
            max-height: 100px;
        }
    }

    .title {
        h1 {
            text-align: center;
            color: $primaryColor;
            font-size: 2rem;
        }

        h3 {
            text-align: center;
            font-size: 1.4rem;
        }
    }
}

@media all and (min-width: 361px) and (max-width: 768px) {
    .logInLogOutButtons {
        .logout {
            button {
                background: none;
                @include primaryButton($secondaryColor, $primaryColor);
                text-align: center;
                font-size: small;
                padding: 0 3px 3px 3px;
                min-width: auto;
                height: 28px;
            }
        }
    }

    .header {
        .logo {
            img {
                max-height: 65px;
            }
        }

        .title {
            h1 {
                text-align: center;
                color: #f44336;
                font-size: 1.5rem;
            }

            h3 {
                text-align: center;
                font-size: 1rem;
            }
        }
    }

}

@media all and (max-width: 360px) {
    .logInLogOutButtons {
        .logout {
            button {
                background: none;
                @include primaryButton($secondaryColor, $primaryColor);
                // border-radius: 10px;
                // background: linear-gradient(270deg, $primaryColor 10%, $secondaryColor 65%);
                // padding: 0 3px 5px 3px;
                // height: 28px;
                // width: auto;
                // font-size: 16px;
                // right: 10px;
                // top: 10px;
                text-align: center;
                font-size: small;
                padding: 0 3px 3px 3px;
                min-width: auto;
                height: 28px;

                span {
                    display: none;
                }

            }
        }
    }

    .header {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 5px;
        padding: 0 15px;
        width: 100vw;

        .logo {
            padding-right: 10px;
            margin-top: -2px;

            img {
                max-height: 22px;
            }

            &:first-child {
                padding-right: 10px;
            }

            &:nth-child(3) {
                display: none;
            }
        }

        .title {
            h1 {
                text-align: left;
                font-size: 22px;
            }

            h3 {
                font-size: 14px;
                margin-left: -18px;
                padding-bottom: 7px;
            }
        }
    }
}