.logInLogOutButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;

    .logout {
        padding: 2vw 5vw 0 0;
        text-align: right;

        button {
            background: linear-gradient(45deg, #f4433660 50%, #683ab791 100%);
            color: white;
            font-size: large;
            font-weight: 400;
            padding: 5px;
            border: 1px solid #ececec;
            position: absolute;
            text-align: end;
            height: 75px;
            width: 75px;
            right: 5px;
            top: 5px;
            border-radius: 10% 10% 10% 90% / 10% 10% 10% 90%;

            &:hover {
                box-shadow: 3px 3px 2px #cecece;
                text-shadow: 1px 1px 1px #cecece;

            }
        }
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 0 5% 15px 5%;
    width: 100vw;

    .logo {
        img {
            max-height: 100px;
        }
    }

    .title {
        h1 {
            text-align: center;
            color: #f44336;
            font-size: 2rem;
        }

        h3 {
            text-align: center;
            font-size: 1.4rem;
        }
    }
}

@media all and (max-width: 768px) {
    .logInLogOutButtons {
        .logout {
            button {
                border-radius: 10px;
                background: linear-gradient(270deg, #683ab791 20%, #f4433660 80%);
                padding: 2px 7px;
                height: 35px;
                width: 89px;

            }
        }
    }

    .header {
        .logo {
            img {
                max-height: 65px;
            }
        }

        .title {
            h1 {
                text-align: center;
                color: #f44336;
                font-size: 1.5rem;
            }

            h3 {
                text-align: center;
                font-size: 1rem;
            }
        }
    }

}