@import "../../Component-styles-SCSS/colors.SCSS";
@import "../../Component-styles-SCSS/MixIn-primaryButton.scss";
@import "../../Component-styles-SCSS/normalize.css";

.navLinks {
    display: flex;
    justify-content: space-evenly;
    padding: 0 15px 30px 15px;
    width: auto;

    .link {
        text-decoration: none;
    }

    .nav-link {
        @include primaryButton($secondaryColor, $primaryColor);

    }
}

@media all and (max-width: 360px) {
    .navLinks {
        justify-content: start;
    padding: 7px 19px 11px 0;
        .nav-link {
            font-size: medium;
            padding: 0 3px 3px 3px;
            min-width: none;
        }
    }
}