.navLinks{
    display: flex;
    justify-content: space-evenly;
    padding: 0 15px 30px 15px;
    width: 100%;
    .link{
        text-decoration: none;
    }
    .nav-link{
        margin-top: 5vh;
        background-color: #683ab791;
        border: 1px solid #683ab791;
        color: white;
        text-align: center;
        font-weight: bolder;
        font-size: 1.1rem;
        border-radius: 6px;
        &:hover{
            border: 1px solid white;
            box-shadow: 3px 3px 3px #f44336;
            text-shadow: 1px 1px 1px white;

        }
    }
}