@import '../../styles/colors.scss';
@import '../../styles/normalize.css';

.allSaucesBody {
  padding: 0 5vw;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .saucesListHeader {
    display: flex;
    justify-content: left;
    padding: 0;
    min-width: 94%;
    margin-top: -44px;

    h1 {
      font-size: 18px;
    }
  }
}

// @media all and (min-width: 361px) and (max-width: 768px) {
//   .allSaucesBody {
//     padding: 0;
//   }
// }

@media all and (max-width: 360px) {
  .allSaucesBody {
    // padding: 10px 0;
    justify-content: space-evenly;

    .saucesListHeader {
      display: none;
    }
  }
}
